<?xml version="1.0"?>
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
    <arg name="world_name" default="empty_world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="false"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>	
  <!-- <include file="$(find plywood_mazes)/launch/maze_3_6x6.launch" /> -->
  <param name="robot_description" textfile="$(find rotf_control)/urdf/model_1.urdf"/>
  <!-- <param name="robot_description" textfile="$(find rotf_control)/urdf/ot_light.urdf"/> -->
  <arg name="x" default="-0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>

  <!-- <arg name="x" default="-0.334525"/>
  <arg name="y" default="0.001922"/>
  <arg name="z" default="0.100003"/> -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"  output="screen" args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -model sample_bot -param robot_description"/>
  <rosparam file="$(find rotf_control)/config/diff_drive.yaml" command="load"/>
  <node name="controller_spawner"  pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="left_wheel_controller
    right_wheel_controller"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node pkg="rotf_control" type="move_diffdrive.py" name="move_diffdrive.py" output="screen" />
  <!-- <node pkg="rotf_control" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard.py" output="screen" /> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0 0 0 0 base_link laser 20" /> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0 0 0 0 base_footprint base_link 20" /> -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args=""/> -->
</launch>